<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <!--Check if property exists, and display property name and the associated picture-->
    {% if property %}
        <h2>{{ property.name }}</h2>
        <img src="{{ property.picture.url }}" alt="{{ property.name }} Image" width="300">
        <h4>Address: {{ property.address }}</h4>
      <!--property.type would display a or b instead, hence we use get type display-->    
        <h4>Property Type: {{ property.get_type_display }}</h4>
        <hr>
        {% endif %}
    <h3>Property Review:</h3>
    {% for review in latest_reviews %}
        <h3>{{ review.name }}</h3>
        <p>Date Posted: {{ review.pub_date }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Review: {{ review.text }}</p>
        <hr>
    {% endfor %}
</body>
</html>