<!DOCTYPE html>
<html>
<head>
    <title>{{ property.name }} - Property Detail</title>
</head>
<body>
    <h1>Home</h1>
    <!--Check if property exists, and display property name and the associated picture-->
    {% if property %}
        <h2>{{ property.name }}</h2>
        <img src="{{ property.picture.url }}" alt="{{ property.name }} Image" width="300" height="300">
        <h4>Distance to Uwaterloo: {{ property.distance }}km</h4>
        <h4>Address: {{ property.address }}</h4>
      <!--property.type would display a or b instead, hence we use get type display-->    
        <h4>Property Type: {{ property.get_type_display }}</h4>
        <hr>
        {% endif %}
    <h3>Property Review:</h3>
    <ul>
        {% for review in reviews %}
            <li>
                <strong>{{ review.name }}</strong> - Rating: {{ review.rating }}
                <br>
                <em>Posted on {{ review.pub_date }}</em>
                <p>{{ review.text }}</p>
            </li>
        {% empty %}
            <li>No reviews available for this property.</li>
        {% endfor %}
    </ul>
    
    <!-- Link back to the home page -->
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>


</html>